<%- layout("./layout/boilerplate.ejs")%>
<body>
  <div class="alert alert-danger col-8 offset-2 mt-4" role="alert">
    <h5 class="alert-heading">ERROR: <%=statuscode%></h5>
    <hr />
    <pre><%=message%></pre>
  </div>
</body>
