body {
  font-family: "Plus Jakarta Sans", serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.alert {
  position: absolute;
  z-index: 5;
}

.container {
  margin: 0px;
  padding: 0px;
  flex: 1;
}
.navbar {
  height: 3.5rem;
  background-color: #aaaa73a5 !important;
}

.nav-link {
  color: #222222;
}
.f-info {
  background-color: #aaaa73a5 !important;
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #ebebeb;
}

.f-info-social i {
  font-size: 1.3rem;
  margin-right: 10px;
  color: rgba(0, 0, 0, 0.781);
}

.f-info-social i:hover {
  transform: scale(1.2);
  color: #222222;
}

.f-info-links a {
  text-decoration: none;
  color: #161515;
  margin-right: 10px;
}

.f-info-links a:hover {
  text-decoration: underline;
}

.custom-carousel {
  width: 100%;
  height: 80vh;
  overflow: hidden;
}

.custom-carousel img {
  filter: brightness(0.3);
}

.card-img-overlay {
  height: 100%;
  position: absolute;
  z-index: 2;
  color: white;
  opacity: 0.8;
  overflow: auto;
}
.overlay-section {
  width: 70%;
}

table {
  margin: 0 auto;
}
td {
  padding: 0.5rem;
}
.carousel-caption {
  color: white;
  width: 30%;
  top: 15%;
  left: 10%;
  text-align: center;
}
.description {
  line-height: 2;
  letter-spacing: 1.5px;
  word-spacing: 1.7px;
}
.dashboard-container {
  background: linear-gradient(
      to bottom left,
      rgba(0, 0, 0, 0.3),
      rgba(166, 208, 234, 0.1)
    ),
    url("/images/back.jpg");
  background-size: cover;
  background-position: center;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.user-detail {
  border-radius: 100px 500px 500px 100px;
  align-self: flex-start;
  text-align: end;
  background-image: linear-gradient(rgb(0, 0, 0), #96aaed, rgb(137, 137, 132));
  box-shadow: 5px 5px 8px black;
  background-size: 110% 200px;
  background-position: 35% 50%;
}
.transaction {
  align-self: flex-end;
  border-radius: 500px 100px 100px 500px;
  text-align: start;
  background-image: linear-gradient(rgb(0, 0, 0), #96aaed, rgb(137, 137, 132));
  box-shadow: -5px 5px 8px black;
  background-size: 110% 200px;
  background-position: 35% 50%;
}
.transaction-history {
  text-align: end;
  align-self: flex-start;
  background-image: linear-gradient(rgb(0, 0, 0), #96aaed, rgb(137, 137, 132));
  box-shadow: 5px 5px 8px black;
  background-size: 110% 200px;
  background-position: 35% 50%;
  background-repeat: no-repeat;
  border-radius: 100px 500px 500px 100px;
}
.popUpLeft {
  margin-left: -65%;
  animation: popupLeft 0.5s ease-in-out 0s 1 forwards;
}
.popUpRight {
  margin-right: -65%;
  animation: popupRight 0.5s ease-in-out 0s 1 forwards;
}
.feature {
  width: 45%;
  padding: calc(10px + 1.5vw);
  a {
    text-decoration: none;
  }
}
.option {
  text-align: center;
  text-shadow: 0px 0px 5px rgb(244, 232, 13);
  font-family: "Arbutus", serif;
  font-weight: 400;
  font-size: calc(13px + 0.8vw);
  letter-spacing: 0.2vw;
  margin-bottom: 0px;
  color: #000000;
}

.option:hover {
  color: #ff0004;
  transform: scale(1.05);
}

.popUpText {
  opacity: 0;
  transform: scale(0);
  animation: popupText 0.5s linear 0.6s 1 forwards;
}

.form {
  opacity: 0;
  animation: popupText 0.5s linear 0s 1 forwards;
}
.diag-detail {
  position: absolute;
  top: 9vh;
  left: calc(50vw - 120px);
}
.diag-history {
  position: absolute;
  width: calc(190px + 40vw);
  height: 70vh;
  overflow-y: auto;
  top: 6vh;
  left: calc(36vw - 120px);
}
.t-header {
  position: sticky;
  top: 0px;
}

tfoot {
  position: sticky;
  bottom: 0px;
}
.diag-amount {
  position: absolute;
  top: 10vh;
  left: calc(35vw - 80px);
  background-color: #c9c1c1;
  height: 65vh;
  width: calc(180px + 25vw);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  input[type="number"] {
    height: calc(35px + 3vw);
    font-size: calc(15px + 0.7vw);
    background-color: #e9e4e4;
    width: 100%;
    background-image: url("/images/rupee.png");
    background-origin: content-box;
    background-position: 2px 15px;
    text-align: center;
    background-size: 40px;
    background-repeat: no-repeat;
  }
  .trans-type {
    width: 100%;
    padding: calc(15px + 0.7vw);
    margin: 1rem 0;
    letter-spacing: 2px;
    font-size: calc(15px + 0.7vw);
  }
}
.trans-exit {
  align-self: flex-end;
  margin-right: 15px;
  button {
    background-color: rgb(226, 43, 43);
    height: clac(15px-7vw);
    width: clac(15px-7vw);
    color: white;
    border: 1px black solid;
  }
}

.dialogbox {
  position: absolute;
  top: 3.5rem;
  background-color: #22222235;
  width: 100%;
  height: 80%;
}

@keyframes popupLeft {
  0% {
    margin-left: -65%;
  }
  100% {
    margin-left: 0%;
  }
}

@keyframes popupRight {
  0% {
    margin-right: -65%;
  }
  100% {
    margin-right: 0%;
  }
}

@keyframes popupText {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 100% !important;
  }
}

@media (max-width: 767px) {
  .navbar-nav .nav-link {
    background-color: rgba(255, 255, 255, 0.692);
  }

  .navbar-nav .nav-link:hover {
    background-color: #ffffff;
  }

  .navbar-nav .nav-link:focus {
    background-color: #f8f9fa;
  }
}
