<%layout("../views/layout/boilerplate.ejs")%>
<div
  id="carouselExampleSlidesOnly"
  class="carousel slide carousel-fade custom-carousel"
  data-bs-ride="carousel"
  data-bs-interval="4000"
  data-bs-pause="false"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="https://images.unsplash.com/photo-1551260627-fd1b6daa6224?q=80&w=2067&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        class="d-block w-100"
        alt="bank_img"
      />
      <div class="carousel-caption d-none d-md-block">
        <h2 class="mb-5 text-warning">Secure and Reliable</h2>
        <p class="description">
          SmartKhata uses advanced encryption protocols to ensure your
          information remains confidential and safe. Manage your accounts
          without worrying about breaches.
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="https://images.unsplash.com/photo-1612795459707-1002f77720d2?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        class="d-block w-100"
        alt="bank_img"
      />
      <div class="carousel-caption d-none d-md-block">
        <h2 class="mb-5 text-warning">Multi-Device Accessibility</h2>
        <p class="description">
          Access your SmartKhata from anywhere, at any time. Whether you're on
          your smartphone, tablet, or computer, your data syncs seamlessly
          across all devices for convenience.
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="https://images.unsplash.com/photo-1550565118-3a14e8d0386f?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        class="d-block w-100"
        alt="bank_img"
      />
      <div class="carousel-caption d-none d-md-block">
        <h2 class="mb-5 text-warning">Tailored for Every Business</h2>
        <p class="description">
          SmartKhata is designed to cater to businesses of all sizes, from small
          shopkeepers to medium-sized enterprises. Customizable features ensure
          it adapts perfectly to your needs.
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="https://plus.unsplash.com/premium_photo-1661319063327-ccb1da3003a4?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        class="d-block w-100"
        alt="bank_img"
      />
      <div class="carousel-caption d-none d-md-block">
        <h2 class="mb-5 text-warning">Simplified Business Accounting</h2>
        <p class="description">
          SmartKhata transforms the way you manage your business finances. With
          our easy-to-use interface, you can track income, expenses, and
          outstanding balances effortlessly, eliminating the need for manual
          ledgers.
        </p>
      </div>
    </div>
    <div class="card-img-overlay">
      <div class="overlay-section ms-auto"><%-body%></div>
    </div>
  </div>
</div>
